<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sudoku</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
